asn1crypto==1.2.0
audioread==2.1.8
backports.functools-lru-cache==1.6.1
certifi==2019.9.11
cffi==1.13.0
chardet==3.0.4
conda==4.7.12
conda-package-handling==1.6.0
cryptography==2.8
cycler==0.10.0
decorator==4.4.1
enum34==1.1.6
ffmpeg==1.4
funcsigs==1.0.2
futures==3.3.0
idna==2.8
ipaddress==1.0.23
joblib==0.14.1
kiwisolver==1.1.0
librosa==0.7.1
llvmlite==0.30.0
matplotlib==2.2.4
menuinst==1.4.16
numba==0.46.0
numpy==1.16.6
pycosat==0.6.3
pycparser==2.19
pyOpenSSL==19.0.0
pyparsing==2.4.6
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2019.3
pywin32==223
requests==2.22.0
resampy==0.2.2
ruamel-yaml==0.15.46
scikit-learn==0.20.4
scipy==1.2.2
singledispatch==3.4.0.3
six==1.12.0
SoundFile==0.10.3.post1
tqdm==4.36.1
urllib3==1.24.2
win-inet-pton==1.1.0
wincertstore==0.2
